<html lang="en">
  <head>
    <title>BeerTower contato</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
      /* Remove the navbar's default margin-bottom and rounded borders */ 
      .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }

      /* Add a gray background color and some padding to the footer */
      footer {
        background-color: #f2f2f2;
        padding: 25px;
      }
    </style>
    <link rel="icon" href="https://github.com/EvertonJunior/BeerTower-chopp/blob/master/btc/BT%20CHOPP.png?raw=true" type="image/x-icon" />
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="https://beertowerchopp.herokuapp.com/">INICIO</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="https://beertowerchopp.herokuapp.com/portfolio">PORTIFOLIO</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="jumbotron">
      <div class="container text-center">
        <h1>BeerTower Contato</h1>      
        <p>Entre em contato</p>
        <h1>RETORNAREMOS SEU CHAMADO EM ATÉ 24 HORAS</h1>
      </div>
    </div>
    
  <div class="row">
    <div class="col-sm-5">
      
      <p><span class="glyphicon glyphicon-map-marker"></span> Paraíba, PB</p>
      <p><span class="glyphicon glyphicon-phone"></span> +55 (83)3032-xxxx</p>
      <p><span class="glyphicon glyphicon-envelope"></span> beertowerchoppcompany@gmail.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
      <footer class="page-footer font-small dark">
        <footer class="container-fluid text-center">
            <p><div class="footer-copyright text-center py-3">
                Copyright: © 2019 BeerTower Chopp Inc. Todos direitos reservados. BeerTower Brasil Ltda. 
          </div></p>
          
        </footer>
      </footer>
    </body>
</html>