<!DOCTYPE html>
<html>
  <head>
    <!-- Inicio da modificação style: parte utilizada para o estilo da interface  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
    <!-- link para organizar de forma enquadrada os labels temp antendimento e etc -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  -->    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
      /* Remove the navbar's default margin-bottom and rounded borders */ 
      .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }

      /* Add a gray background color and some padding to the footer */
      footer {
        background-color: #0c0a0a;
        padding: 25px;

      }
      .logo-small {
        color: #f1a818;
        font-size: 50px;
      }


    </style>
  
 <!-- final da modificação do style -->
    
   
  <link rel="icon" href="https://github.com/EvertonJunior/BeerTower-chopp/blob/master/btc/BT%20CHOPP.png?raw=true" type="image/x-icon" />
  
  </head>
  <body>
    
    
      <!-- Inicio da barra de menu -->
      
                         <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    
               
                      </button>
                      <a class="navbar-brand" href="">BeerTower Chopp</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="http://beertowerchopp.herokuapp.com/">INÍCIO</a></li>
                        <li><a href="/portfolio">PORTFÓLIO</a></li>
                        <li><a href="/contato">CONTATO</a></li>
                      </ul>
                    </div>
                  </div>
              </div>
            </nav>

    <!-- Final da barra de menu -->

  <!-- Inicio dos elementos de comando do site -->
          <div class="card-group">
            <div class="col-sm-4">
              <div class="card text-center">
                <div class="card-header">Temperatura</div>
                  <div class="card-body">
                <h1 class = "card-title" id="temperatura"></h1>
               </div>
            </div>
          </div>
      
                <div class="col-sm-4">
                  <div class="card text-center">
                    <div class="card-header">Atendimento</div>
                      <div class="card-body">

                <h5 class="card-text" id="garçom">Chamar garçom</h5>
                <input class = "btn btn-warning" type="button" onclick = "Chamar_garçom()" value="Chamar"/>
                <input class = "btn btn-dark" type="button" onclick = "Cancelar_chamada()" value="Cancelar"/>
            
            </div>
          </div>
        </div>
        
         
      
      
      <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-header">Valor gasto</div>
        <div class="card-body">
          <h1 class = "card-title" id="valor_cliente"></h1>
        </div>
      </div>
    </div>
      

    </div>              
<!-- Final dos elementos de comando do site -->

<!-- Inicio das informações da empresa -->

       <!-- Container (Services Section) -->
    <div class="container-fluid text-center">
      <h2>NOSSA ESSÊNCIA</h2>

      <br>
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-off logo-small"></span>
          <h4>ÊNFASE EM EFICIÊNCIA ENERGÉTICA</h4>
          <p>Desenvolvemos técnologias que demandam de pouca energia para executar a sua função</p>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-heart logo-small"></span>
          <h4>AMOR</h4>
          <p>Amamos disponibilizar ao cliente a melhor experiência com os nossos produtos. Aliando designer, preço, qualidade e eficiência, sinônimo no mercado de BeerTower </p>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-user logo-small"></span>
          <h4>CLIENTE</h4>
          <p>Buscamos a satisfação dos nossos clientes por meio de serviços com excelência em performace prestada</p>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-leaf logo-small"></span>
          <h4>VERDE</h4>
          <p>Desenvolvemos nossos produtos com materiais reutilizados e reciclados </p>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-certificate logo-small"></span>
          <h4>CERTIFICADO</h4>
          <p>Nosso produto é certificado pelo INSTITUTO FEDERAL DA PARAÍBA</p>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-wrench logo-small"></span>
          <h4 style="color:#303030;">TRABALHO DURO</h4>
          <p>Trabalhamos para trazer o melhor para os nossos clientes</p>
        </div>

      </div>
    </div>


    <!-- Footer -->
    <footer class="page-footer font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        Copyright: © 2019 BeerTower Chopp Inc. Todos direitos reservados. BeerTower Brasil Ltda. 

      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
    

<!-- Final das informações da empresa -->
                
                
</div>
    
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">


     //var socket = io.connect('http://' + document.domain + ':' + location.port);
     
     let temp = document.querySelector("temperatura");

      var socket = io.connect('http://beertowerchopp.herokuapp.com/');
      socket.on("atualiza", function(dados) {
        console.log(dados);
        if("TEMPERATURA" in dados){
          console.log("temperatura");
          document.getElementById("temperatura").innerHTML = dados["TEMPERATURA"]
          
          }else if("VALOR" in dados){
          console.log("valor_cliente");
          document.getElementById("valor_cliente").innerHTML = dados["VALOR"]
          
          } else {
            
            console.log("temperatura");
          document.getElementById("temperatura").innerHTML = dados["TEMPERATURA"]
          }
        
          
      });



      function Chamar_garçom(){
        console.log("chamar")
        socket.emit('chamar_garçom')
      }
      
      function Cancelar_chamada(){
        console.log("cancelar")
        socket.emit('cancelar_garçom')
      }
      
     
     
    
    

    </script>
  </body>
</html>